#refresh_rsu {
	float: right;
	margin: 5px;
}

.marker {
	background-image: url('../images/leaflet/marker-icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 40px;
	cursor: pointer;
}

.active {	
	box-shadow: inset 0 0 20px 2px #73d216; 
}